@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import "tailwindcss";

*{
	box-sizing: border-box;
}

:root {
	--primary-colour: #ffffff;
	--contrast-colour: #000000;
	--transition-duration: 200ms;
	--link-scale: 1.1;
	--shadow-strength: 0.25;
	font-family: "Geist Mono", Helvetica, sans-serif;
}

html, body {
	padding: 0;
	margin: 0;
	border-style: bode;
	font-weight: 500;
	height: 100%;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	user-select: none;
	font-weight: 400;
}

section{
	scroll-margin-top: 10vh;
}